@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

// Font-family
$meme_font-family: "Montserrat", sans-serif;

// Font-Size
$meme_size-xs: 12px;
$meme_size-s: 16px;
$meme_size-M: 24px;
$meme_size-L: 32px;
$meme_size-XL: 40px;
$meme_size-XXXXL: 64px;

//Font-Weight
$meme_font-weight_lite: 300;
$meme_font-weight_regular: 400;
$meme_font-weight_bold: 700;

// Colors
$meme_white: #fff;
$meme_black: #000;
$meme_text-color: #1b1b1b;
$meme_red: #cc0000;
$meme_green: #007e33;
$meme_blue: #0099cc;
$meme_orange: #f0ad4e;
