@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

// Font-family
$meme_font-family: "Montserrat", sans-serif;

// Font-Size
$meme_size-xs: 16px;
$meme_size-M: 24px;
$meme_size-L: 32px;
$meme_size-XL: 40px;

// Colors
$meme_white: #fff;
$meme_black: #000;
$meme_text-color: #1b1b1b;
$meme_red: #cc0000;
$meme_green: #007e33;
$meme_blue: #0099cc;
