@import "../../assets/style/varriable";
form {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 60%;
  margin: 0 auto auto auto;

  .radioInput_container {
    label {
      &:nth-child(2) {
        margin-left: 30px;
      }

      input {
        transition: transform 0.3s ease-in-out;
      }
      &:hover {
        cursor: pointer;

        input {
          transform: scale(1.2);
        }
      }
    }
  }
  @media (max-width: 869px) {
    width: 50%;
  }
  @media (max-width: 540px) {
    width: 70%;
  }
  @media (max-width: 360px) {
    width: 80%;
  }

  .message {
    font-weight: $meme_font-weight_bold;
    &__error {
      color: $meme_red;
      margin-left: 16px;
    }

    &__success {
      color: $meme_green;
      font-size: $meme_size-s;
    }
  }
}
