@import "../../assets/style/varriable";

.container {
  width: 85vw;
  height: 50vh;
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .text_box {
    width: 40%;
    font-weight: $meme_font-weight_bold;
    text-align: left;
    margin-bottom: 40px;

    @media (max-width: 869px) {
      width: 50%;
    }
    @media (max-width: 540px) {
      width: 70%;
    }
    @media (max-width: 360px) {
      width: 80%;
    }
    .heading {
      margin-bottom: 15px;
      font-size: $meme_size-M;
    }

    .paragraph {
      font-weight: $meme_font-weight_regular;
    }
  }

  @media (max-width: 869px) {
    width: 100vw;
  }
  @media (max-width: 420px) {
    height: 60vh;
  }
}
