@import "../../assets/style/varriable";

.container {
  min-width: 500px;
  width: 580px;
  height: 780px;
  margin: 0 auto 40px auto;
  padding: 20px 15px;
  border: 1px solid $meme_black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15);

  .Top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title {
      flex: 1 0 0;
      font-size: $meme_size-L;
    }
  }

  .imageCnt {
    flex: 2 1 auto;
    margin: 20px 0;
    max-height: 600px;

    .image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .Icons_cnt {
    flex: 1 0 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
}

.Icon_box {
  display: flex;
  align-items: center;

  .Icon {
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;

    &__downVote {
      fill: $meme_red;
    }
    &__upVote {
      fill: $meme_green;
    }
    &__favorite {
      path {
        fill: transparent;
        stroke-width: 2;
        stroke: $meme_orange;
        transition: fill 0.3s ease-in-out;
      }
      &_active {
        fill: $meme_orange;
      }

      &:hover {
        path {
          fill: $meme_orange;
        }
      }
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    path {
      pointer-events: none;
    }
  }
  .counter {
    font-size: $meme_size-xs;
    font-weight: $meme_font-weight_bold;
  }
}
